<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110461151-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110461151-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        (function (factory) {
            if (typeof define === 'function' && define.amd) {
                // AMD (Register as an anonymous module)
                define(['jquery'], factory);
            } else if (typeof exports === 'object') {
                // Node/CommonJS
                module.exports = factory(require('jquery'));
            } else {
                // Browser globals
                factory(jQuery);
            }
        }(function ($) {

            var pluses = /\+/g;

            function encode(s) {
                return config.raw ? s : encodeURIComponent(s);
            }

            function decode(s) {
                return config.raw ? s : decodeURIComponent(s);
            }

            function stringifyCookieValue(value) {
                return encode(config.json ? JSON.stringify(value) : String(value));
            }

            function parseCookieValue(s) {
                if (s.indexOf('"') === 0) {
                    // This is a quoted cookie as according to RFC2068, unescape...
                    s = s.slice(1, -1).replace(/\\"/g, '"').replace(/\\\\/g, '\\');
                }

                try {
                    // Replace server-side written pluses with spaces.
                    // If we can't decode the cookie, ignore it, it's unusable.
                    // If we can't parse the cookie, ignore it, it's unusable.
                    s = decodeURIComponent(s.replace(pluses, ' '));
                    return config.json ? JSON.parse(s) : s;
                } catch(e) {}
            }

            function read(s, converter) {
                var value = config.raw ? s : parseCookieValue(s);
                return $.isFunction(converter) ? converter(value) : value;
            }

            var config = $.cookie = function (key, value, options) {

                // Write

                if (arguments.length > 1 && !$.isFunction(value)) {
                    options = $.extend({}, config.defaults, options);

                    if (typeof options.expires === 'number') {
                        var days = options.expires, t = options.expires = new Date();
                        t.setMilliseconds(t.getMilliseconds() + days * 864e+5);
                    }

                    return (document.cookie = [
                        encode(key), '=', stringifyCookieValue(value),
                        options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
                        options.path    ? '; path=' + options.path : '',
                        options.domain  ? '; domain=' + options.domain : '',
                        options.secure  ? '; secure' : ''
                    ].join(''));
                }

                // Read

                var result = key ? undefined : {},
                    // To prevent the for loop in the first place assign an empty array
                    // in case there are no cookies at all. Also prevents odd result when
                    // calling $.cookie().
                    cookies = document.cookie ? document.cookie.split('; ') : [],
                    i = 0,
                    l = cookies.length;

                for (; i < l; i++) {
                    var parts = cookies[i].split('='),
                        name = decode(parts.shift()),
                        cookie = parts.join('=');

                    if (key === name) {
                        // If second argument (value) is a function it's a converter...
                        result = read(cookie, value);
                        break;
                    }

                    // Prevent storing a cookie that we couldn't decode.
                    if (!key && (cookie = read(cookie)) !== undefined) {
                        result[name] = cookie;
                    }
                }

                return result;
            };

            config.defaults = {};

            $.removeCookie = function (key, options) {
                // Must not alter options, thus extending a fresh object...
                $.cookie(key, '', $.extend({}, options, { expires: -1 }));
                return !$.cookie(key);
            };

        }));
    </script>
    <script id="work-template" type="text/template">
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title></title>
        </head>
        <body></body>
        </html>
    </script>
    <script type="text/javascript">
        var concepts = JSON.parse('{{ concepts|safe }}');
        var tasks = JSON.parse('{{ tasks|safe }}');
        var grades = JSON.parse('{{ grades|safe }}');

        c = '{{ session|safe }}'
        if (c != '') {
            var session = JSON.parse(c);
        } else {
            var session = {'date': "", 'student_name':"", 'student_login':"", 'note':"", 'groups':[]};
        }

        function is_session_empty(){
            if ((session['date'] == "") && (session['student_name'] == "") && (session['student_login'] == "") && (session['note'] == "") && (session['groups'].length == 0) ) {
                return true;
            } else {
                return false;
            }
        }

        function get_group_index(task_code) {
            res = -1;
            if (is_session_empty()) {
                return res;
            }
            groups = session['groups'];
            for (kk = 0; kk < groups.length; kk++) {
                if (groups[kk]['task_code'] == task_code) {
                    res = kk;
                    break;
                }
            }
            return res;
        }

        function remove_group(task_code) {
            index_to_remove = get_group_index(task_code);
            if (index_to_remove > -1) {
                session['groups'].splice(index_to_remove, 1);
            }
        }
    </script>
    <script type="text/javascript">
            $(document).ready(function() {
                // Заполняем лоции для переданного класса или класса по-умолчанию
                default_grade = 'sedmoj';
                if (grades[default_grade] !== undefined){
                    grade = default_grade;
                } else {
                    grade = grades.keys()[0];
                }
                grd = $.cookie('grade');
                if (grd != null) {
                    grade = grd;
                }

                // Если загружаем не сессию
                if (is_session_empty()) {
                    // Если были сохраненные в куках таски, то....
                    tasks_in_cookies = getTasksInCookies();
                    if (Object.keys(tasks_in_cookies).length > 0) {
                        get_tasks_from_server(tasks_in_cookies);
                    } else {
                        updateLayout();
                    }
                } else {
                    updateLayout();
                    updatePreview();
                }

                // Кнопки классов
                for(var g in grades) {
                    classStr = 'btn grade-button btn-secondary btn-sm rounded ';
                    if (g == grade) {
                        classStr += 'active'
                    } else {
                        classStr += 'notActive'
                    }
                    $('<a></a>')
                        .attr('type', 'button')
                        .attr('name', g)
                        .addClass(classStr)
                        .text(grades[g].title)
                        .appendTo('#classes-container');
                }

                updateConcepts(grade);

                $('#btn-viewsession').on('click', onViewSessionClick);

                // Обновляем отображение ученика
                if (is_session_empty()) {
                    s = $.cookie('student');
                    if (s != null) {
                        get_next_student_from_server(s);
                    } else {
                        updateStudent();
                    }
                } else {
                    updateStudent();
                }
                $('#student-info').on('click', onStudentInfoClick);

                $('.grade-button').on('click', function(){
                    if ($(this).hasClass('active') == false) {
                        $('.grade-button').removeClass('active');
                        $('.grade-button').addClass('notActive');
                        $(this).addClass('active');
                        grade = $(this).attr('name');
                        updateConcepts(grade);
                        $.cookie('grade', grade, { expires: 21 });
                        updateLayout()
                        updateTasks();
                        ga('send', 'event', 'Класс', 'Смена');
                    }
            });

            function getTasksInCookies() {
                res = {};
                for (task_id in tasks) {
                    if ( $.cookie(task_id) != null ) {
                        res[task_id] = $.cookie(task_id)
                    }
                }
                return res;
            }

            function onViewSessionClick() {
                // Добавляем в базу новую сессию для текущего ученика
                $.ajax({
                    type: "POST",
                    url: '/ajax/addsession/',
                    data: JSON.stringify({'session': session}),
                    dataType: 'json',
                    success: function (response) {
                        session_id = response['session'];
                        url = document.location.protocol + '//' + document.location.host + '/viewsession/' + session_id.toString();
                        window.open(url,'_blank');
                    }
                });

                // Сбрасываем выбранного ученика (для него все сделано)
                session['student_login'] = "";
                session['student_name'] = "";
                $.removeCookie('student');
                updateStudent();

                ga('send', 'event', 'Подборка', 'ПолучитьСсылку');
            }

            function onStudentInfoClick() {
                get_next_student_from_server();
            }


            function onRemoveTaskFromPreviewClick() {
                remove_group(event.target.id)

                updateLayout();
                updateTasks();
                updatePreview();
                updateCookies();
                ga('send', 'event', 'Задание', 'Удаление');
            }

            function onGroupKeyUp() {
                groupIndex = Number($(this).attr('name'));
                session['groups'][groupIndex]['note'] = $(this).val();
            }

            function onSessionNoteKeyUp() {
                session_note = $('#session-note');
                text = session_note.val();
                session['note'] = text;
            }

            function updateLayout() {

                concept_selected = true;
                if ($('#themeSelect').find(".active").length == 0) {
                    concept_selected = false;
                }

                task_selected = session['groups'].length > 0;

                if (concept_selected == true) {
                    $('#tasks').removeClass('d-none');
                } else {
                    $('#tasks').addClass('d-none');
                }

                if (task_selected == true) {
                    $('#preview').removeClass('d-none');
                } else {
                    $('#preview').addClass('d-none');
                }

                if (task_selected == false && concept_selected == false) {
                    $('#concepts')
                        .removeClass('col-lg-3 col-lg-6')
                        .addClass('col-lg-12');
                }

                if (task_selected == false && concept_selected == true) {
                    $('#concepts')
                        .removeClass('col-lg-3 col-lg-12')
                        .addClass('col-lg-6');
                    $('#tasks')
                        .removeClass('col-lg-5 col-lg-12')
                        .addClass('col-lg-6');
                }

                if (task_selected == true && concept_selected == true) {
                    $('#concepts')
                        .removeClass('col-lg-6 col-lg-12')
                        .addClass('col-lg-3');
                    $('#preview')
                        .removeClass('col-lg-6 col-lg-12')
                        .addClass('col-lg-4');
                    $('#tasks')
                        .removeClass('col-lg-6 col-lg-12')
                        .addClass('col-lg-5');
                }

                if (task_selected == true && concept_selected == false) {
                    $('#concepts')
                        .removeClass('col-lg-3 col-lg-12')
                        .addClass('col-lg-6');
                    $('#preview')
                        .removeClass('col-lg-4 col-lg-12')
                        .addClass('col-lg-6');
                }
            }

            function updateConcepts(grd) {
                $('#themeSelect').find('div').remove();
                grade_concepts = grades[grd].concepts;
                classStr = 'col-12 p-2 mb-1 item rounded ';
                for (i = 0; i < grade_concepts.length; i++) {
                    concept = grade_concepts[i];
                    cls = classStr;
                    c = concepts[concept].title;
                    txt = c.charAt(0).toUpperCase() + c.slice(1);
                    $('#themeSelect')
                        .append($("<div></div>")
                            .attr('value', concept)
                            .addClass(cls)
                            .text(txt))
                            .find('div')
                                .click(onThemeSelectClick);
                }
            }

            function get_tasks_from_server(tasks_to_obtain) {
                $.ajax({
                    url: '/ajax/tasks/',
                    data: tasks_to_obtain,
                    dataType: 'json',
                    success: function (data) {
                        session['groups'] = session['groups'].concat(data['tasks']);
                        updateLayout();
                        updatePreview();
                        updateCookies();
                        updateSelectedTasks()
                    }
                });
            }

            function get_next_student_from_server(st = "") {
                $.ajax({
                    url: 'ajax/nextstudent/',
                    data: {'student': st},
                    dataType: 'json',
                    success: function (data) {
                        session['student_login'] = data['login'];
                        session['student_name'] = data['name'];
                        updateStudent();
                        if (session['student_login'].length > 0) {
                            $.cookie('student', session['student_login'] , { expires: 1 });
                        } else {
                            $.removeCookie('student');
                        }
                    }
                });
            }

            function updateCookies() {
                cs = $.cookie();
                for (c in cs) {
                    if ( (c != 'grade') && (c[0] != '_' )  ) {
                        $.removeCookie(c);
                    }
                }
                groups = session['groups'];
                for (i = 0; i < groups.length; i++) {
                    $.cookie(groups[i]['task_code'], groups[i]['texts'].length, { expires: 21 });
                }
            }

            function onTaskCountChange() {
                changed_task = $(this).attr('name');

                new_value = $(this).attr('value');

                // Если кликнули на ту же кнопку, то выходим
                task_index = get_group_index(changed_task);
                if (task_index >= 0) {
                    if (new_value == session['groups'][task_index]['texts'].length) {
                        return false;
                    }
                }

                if (task_index != -1) {
                    session['groups'].splice(task_index, 1);
                }
                if (new_value == 0) {
                    updatePreview();
                    updateCookies();
                    updateLayout();
                    updateSelectedTasks()
                } else {
                    task_to_get = {};
                    task_to_get[changed_task] = new_value;
                    get_tasks_from_server(task_to_get);
                }

                // Обновляем отображение активности кнопок числа заданий
                $('#' + changed_task + ' a').each(function() {
                   $(this).removeClass('active notActive');
                   $(this).addClass(($(this).attr('value') == new_value) ? 'active' : 'notActive');
                })

                ga('send', 'event', 'Задание', 'ИзменениеЧисла');

            }

            function onThemeSelectClick() {
                if ($(this).hasClass('active')) {
                    return false;
                }

                $(this).parent().find('div').removeClass('active');
                $(this).addClass('active');
                updateTasks();
                updateLayout();
                ga('send', 'event', 'Лоция', 'Смена');
                return false;
            }

            function updateSelectedTasks() {
                $concept_id = $('#themeSelect').find(".active").attr("value");
                concept_tasks = concepts[$concept_id].tasks;

                for (i = 0; i < concept_tasks.length; i++) {
                    task = concept_tasks[i];
                    task_index = get_group_index(task);

                    // Подсвечиваем таски, которые есть в session['groups']
                    if (task_index >= 0) {
                        $('#tasks ' + '#' + task + ' .item').addClass('active')
                    } else {
                        $('#tasks ' + '#' + task + ' .item').removeClass('active')
                    };

                    // Подсвечиваем нужную кнопку числа тасков
                    if (task_index >= 0) {
                        tasks_count = session['groups'][task_index]['texts'].length;
                    } else {
                        tasks_count = 0;
                    };
                    $('#tasks ' + '#' + task + ' .btn-group a').each(function(index){
                        $(this).removeClass("active notActive");
                        cls = (index == tasks_count) ? "active" : "notActive";
                        $(this).addClass(cls);
                    });
                }
            }

            function updateTasks() {
                // Удаляем старые элементы
                $('#tasks .task').remove();

                // Добавляем новые элементы
                $concept_id = $('#themeSelect').find(".active").attr("value");

                if ($concept_id == undefined) {
                    return;
                }
                // Concept task codes
                concept_tasks = concepts[$concept_id].tasks.slice();

                for (i = 0; i < concept_tasks.length; i++) {
                    // Task code
                    task = concept_tasks[i];

                    var $template = $('#taskTemplate'),
                        $clone = $template
                            .clone()
                            .removeClass('d-none task')
                            .removeAttr('id')
                            .attr('name', task)
                            .insertBefore($template);

                    tlt = tasks[task].title
                    tlt = tlt.charAt(0).toUpperCase() + tlt.slice(1);

                    $clone
                        .attr('id', task)
                        .addClass('task')
                        .find('.item')
                            .text(tlt + " " + tasks[task].example)
                            .end()
                        .find('.btn-group a')
                            .each(function(index){
                                $(this).click(onTaskCountChange);
                                $(this).attr('name', task);
                            })
                            .end()
                }

                updateSelectedTasks();
            }

            function updatePreview() {
                $('#preview').find('.task-item').remove();
                groups = session['groups'];
                var $template = $('#taskItemTemplate');

                for (i = 0; i < groups.length; i++) {
                    task = groups[i]['task_code'];
                    var $clone = $template.clone()
                            .removeClass('d-none')
                            .addClass('task-item')
                            .removeAttr('id')
                            .insertBefore($template)
                            .attr('name', task);

                    $clone.find('.tasks-list b')
                        .text((i + 1).toString() + ". " + groups[i]['tlt']);
                    $clone.find('.tasks-list .task-remove-button')
                        .attr('id', task)
                        .on('click', onRemoveTaskFromPreviewClick);

                    task_items = groups[i]['texts'];
                    for (j = 0; j < task_items.length; j++) {
                        $clone.find('.tasks-list').append(
                            "<div class='col-12 item'><span>" + (j + 1).toString() + ". " + task_items[j][0] + ".</span><i>" + " Ответ: " + task_items[j][1] + "</i></div>"
                        );
                    }

                    $clone.find('.tasks-list .group-note')
                        .attr('name', i.toString())
                        .text(groups[i]['note'])
                        .on('keyup', onGroupKeyUp);
                }

                // Обновляем заметку к сессии
                session_note = $('#session-note');
                session_note.text(session['note']);
                session_note.on('keyup', onSessionNoteKeyUp);
            }

            function updateStudent(){
                if (session['student_name'].length > 0) {
                    s = session['student_name'];
                } else {
                    s = "не выбран";
                }
                $('#student-info').text(s);
            }
        });
    </script>
    <style>
        .header {
            background: #152032
        }

        label {
            color: #868F8F
        }

        #tasks a {
            background-color:#70BCB6 !important;
        }

        #tasks a.active {
            background-color:#005951 !important;
        }

        #concepts {
            background-color: #996520
        }

        #tasks {
            background-color: #00877B
        }

        #preview {
            background-color: #789EC8
        }

        #concepts h1 {
            color: #F5DEA2
        }

        #tasks h1 {
            color: #DDFFFF
        }

        #concepts .item {
            background-color: #C4975B
        }

        #concepts div.active {
            background-color: #592F0F;
            color: #EBD7C9;
        }

        #tasks .item {
            background-color: #70BCB6
        }

        #tasks div.active {
            background-color: #005951;
            color: #70BCB6;
        }

        #preview {
            color: #D0E6F4;
        }

        #btn-viewsession {
            background-color: #D93E00;
            color: white;
        }

        .center-block {
            margin-left:auto;
            margin-right:auto;
            display:block;
        }

        .header a.active {
            background-color:#996520 !important;
        }

        #student-info {
            color: #D0E6F4;
        }

        #student-info:hover {
            font-weight: bold;
        }

    </style>
    <title>Ломоносов: математика</title>

    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-110461151-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

</head>

<body>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 header">
                <div class="row p-3">
                    <div class="col-1">
                        <label>Класс</label>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <div id="classes-container" class="btn-group">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto p-1">
                        <label id="student-info">не выбран</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="concepts" class="col-sm-12 col-lg-3 py-4 px-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Темы</h1>
                    </div>
                </div>
                <div id="themeSelect" class="row p-4"></div>
            </div>

            <div id="tasks" class="col-sm-12 col-lg-5 py-4 px-3">
                <div class="row">

                    <div class="col-sm-12">
                        <h1>Выберите задания</h1>
                    </div>

                </div>

                <div id="taskTemplate" class="d-none row p-4 align-items-center">
                    <div class="col-7 item rounded"></div>
                    <div class="col-5 number rounded">
                        <div class="input-group">
                            <div class="btn-group">
                                <a value="0" class="btn btn-secondary btn-sm">0</a>
                                <a value="1" class="btn btn-secondary btn-sm">1</a>
                                <a value="2" class="btn btn-secondary btn-sm">2</a>
                                <a value="3" class="btn btn-secondary btn-sm">3</a>
                                <a value="4" class="btn btn-secondary btn-sm">4</a>
                                <a value="5" class="btn btn-secondary btn-sm">5</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="preview" class="d-none col-sm-12 col-lg-4 py-4 px-3">

                <div class="row">
                    <button class="">+Заметка</button>
                    <textarea id="session-note"></textarea>
                </div>

                <div class="row">
                    <div id="taskItemTemplate" class=" d-none col-12 py-2">
                        <div class="row tasks-list">
                            <div class="col-12 item-head">
                                <b></b>
                                <button class="task-remove-button" type="">Убрать</button>
                                <button>+Заметка</button>
                                <textarea class="group-note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="buttons" class="row">
                    <div class="col-12 my-1">
                        <button id="btn-viewsession" type="button" class="btn btn-primary btn-lg center-block">Отравить задание</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div style="position:fixed;bottom:0;left:0;width:100%;" id="alerts"></div>
</body>
</html>
