<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


    <script type="text/javascript">
        var session = JSON.parse('{{ session|safe }}');
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            // Устанавливает заголовок страницы
            $(document).attr("title", session['student_name'] + ": " + session['date']);

            // Устанавливаем заметку к сессии
            if (session['note'].length != 0){
                $('#session-note').removeClass('d-none')
                $('#session-note-body').text(session['note'])
            }

            // Заполняем задания
            groups = session['groups'];
            $g_template = $('#group_template')
            $gn_template = $('#group_note_template')
            $t_template = $('#task_template')

            for(i = 0; i < groups.length; i++){
                 $g_clone = $g_template
                        .clone()
                        .removeClass('d-none')
                        .removeAttr('id')
                        .text((i + 1).toString() + ". " + groups[i]['tlt'])
                        .insertBefore($g_template);

                if (groups[i]['note'].length > 0) {
                     $gn_clone = $gn_template
                            .clone()
                            .find('i')
                            .removeClass('d-none')
                            .removeAttr('id')
                            .text(groups[i]['note'])
                            .insertBefore($g_template);
                }
                for(j = 0; j < groups[i].texts.length; j++) {
                     $t_clone = $t_template
                            .clone()
                            .removeClass('d-none')
                            .removeAttr('id')
                            .text((j + 1).toString() + ". " + groups[i]['texts'][j][0])
                            .insertBefore($g_template);
                }
            }
        })
    </script>

    <style>
        .taskgroup {
            font-weight: bold;
        }
    </style>

    <title></title>
</head>
<body>
  <div class="container">
      <div class="row d-none" id="session-note">
          <p id="session-note-caption"><b>Напутствие:</b></p>
          <p id="session-note-body"></p>
      </div>
          <div id="group_template" class="d-none row taskgroup"></div>
          <div id="task_template" class="d-none row px-4 task"></div>
          <div id="group_note_template" class="d-none row px-1"><i></i>></div>
      </div>
  </div>
</body>
</html>
